.item {
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  box-shadow: 0px 3px 5px 0px rgba(150, 150, 150, 1);
}

.status {
  margin-left: 15px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.green {
  composes: status;
  background-color: green;
}

.red {
  composes: status;
  background-color: red;
}

.avatar {
  margin-left: 15px;
  width: 95px;
}

.name {
  font-size: 32px;
  font-weight: 500;
  margin: 0;
}
